@page "/inventory/packing-recipes/create"
@page "/inventory/packing-recipes/edit/{Id:int}"
@using AbraqAccount.Components.Pages.Inventory.SubComponents

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <PackingRecipeForm Id="@Id" />
        </div>
    </div>
</div>

@code {
    [Parameter] public int? Id { get; set; }
}
