@page "/inventory/purchase-orders/create"
@page "/inventory/purchase-orders/edit/{Id:int}"
@layout DashboardLayout
@using AbraqAccount.Components.Pages.Inventory.SubComponents

<div class="container-fluid py-4">
    <PurchaseOrderForm Id="@Id" />
</div>

@code {
    [Parameter] public int? Id { get; set; }
}
