@page "/transactions/expense-entry/create"
@page "/transactions/expense-entry/edit/{Id:int}"
@using AbraqAccount.Components.Pages.Transactions.SubComponents
@layout DashboardLayout

<div class="p-0">
    <ExpenseEntryForm Id="@Id" />
</div>

@code {
    [Parameter] public int? Id { get; set; }
}
